body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#sidebar {
    min-width: 100px;
    max-width: 250px;
    width: 250px;
    min-height: 100vh;
    background-color: #3d40e8 !important;
    color: white;
}
#sidebar .nav-link {
    color: white;
}
#sidebar .nav-link:hover {
    background-color: #0a7df0;
}
#content {
    flex: 1;
    padding: 20px;
}
.navbar{
    background: linear-gradient(#fafafa, #eeeeee) !important;
}

.navbar-brand{
    color: black !important;
}

#navbarDropdown{
    color: black !important;
}

#bcid{
    color: black !important;
}

@media (max-width: 768px) {
    #sidebar {
        width: 10px;
    }

    #sidebar .nav-link {
        font-size: 14px;
        padding-left: 1px; 
    }
    table{
        width: 1px !important;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-container {
    background-color: white;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    z-index: 1001;
  }
  
  .modal-header {
    background-color: #e1e1e1;
    display: flex;
    color: #afadad;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .modal-content {
    margin-top: 10px;
    padding: 10px 0;
  }
  
  @media (max-width: 600px) {
    .modal-container {
      width: 90%;
    }
  }

  .buttonMod{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
}

.pag{
    color: #693de8;
    font-size: 20px;
}

.create{
    color: #693de8;
    font-size: 15px;
    border: 1px solid #693de8;
    border-radius: 50px;
    padding: 10px;
}

.closeModal{
    width: 450px;
    display: flex;
    justify-content: flex-end;
}

.color{
    color: #693de8;
}